/* main page styles */
body {
    font-family: Helvetica, Arial, sans-serif;
}

h1#meshu {
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

#content {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #888;
    min-height: 600px;
}

#text {
    padding: 20px;
}

input {
    width: 200px;
    color: #888;
    border: 1px solid #0cf;
    padding: 5px;
}

.button {
    cursor: pointer;
    background-color: #0cf;
    color: white;
    padding: 3px 5px;
    margin: 4px 0;
    text-align: center;
    display: inline;
}

.maybe-place {
    color: grey;
    cursor: pointer;
}
.maybe-place:hover {
    color: black;
}

#places {
    width: 400px;
}

.place .delete {
    display: none;
    margin-left: 15px;
    background-color: #FF3FB4;
    cursor: pointer;
    color: white;
}
.place:hover .delete {
    display: inline;
}
.place.highlight {
    color: #FF3FB4;
}

.frame {
	width: 600px;
	height: 600px;
    float: right;
}

/* 
	SVG Styling
*/
path {
    fill: none;
    stroke: black;
    pointer-events: none;
    stroke-width: 3;
    stroke-linejoin: round;
}

circle {
	fill: black;
	fill-opacity: 0;
}

circle:hover {
	fill: black;
	fill-opacity: 1;
	cursor: pointer;
}
circle.highlight {
    fill: #FF3FB4;
    fill-opacity: 1;
}
