/* main page styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#top {
    width: 1000px;
    margin: 30px auto 0;
    position: relative;
}

h1#meshu {
    margin: 0;
}

#nav {
    position: absolute;
    bottom: 3px;
    right: 0;
    font-size: 18px;
}
#nav li {
    display: inline-block;
    margin-left: 25px;
}

#content {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #888;
    min-height: 600px;
    position: relative;
    overflow: hidden;
}

#content h2 {
    font-size: 28px;
    margin: 0 0 10px;
}

#edit {
    padding: 20px;
    width: 360px;
    min-height: 560px;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 1s;
    -moz-transition: left 1s;
    -webkit-transition: left 1s;
    -o-transition: left 1s;
}
.materials #edit {
    left: -400px;
    transition: left 1s;
    -moz-transition: left 1s;
    -webkit-transition: left 1s;
    -o-transition: left 1s;
}

input {
    width: 200px;
    color: #888;
    border: 1px solid #0cf;
    padding: 5px;
}

.button {
    cursor: pointer;
    background-color: #0cf;
    color: white;
    padding: 3px 5px;
    margin: 4px 0;
    text-align: center;
    display: inline;
}

#cases {
    margin: 5px 0;
}

#cases ul, #places ul {
    font-size: 14px;
}

#cases li.title {
    margin-bottom: 5px;
}

.maybe-place {
    color: #808080;
    cursor: pointer;
}
.maybe-place:hover {
    color: black;
}

#places {
    margin-top: 40px;
}

.place {
    color: #808080;
}

.place .delete {
    display: none;
    margin-left: 15px;
    padding: 0 3px;
    background-color: #FF3FB4;
    cursor: pointer;
    color: white;
}
.place:hover .delete {
    display: inline;
}
.place.highlight {
    color: #FF3FB4;
}

.frame {
	width: 600px;
	height: 600px;
    position: absolute;
    right: 0;
    z-index: 1;
    transition: right 1s;
    -moz-transition: right 1s;
    -webkit-transition: right 1s;
    -o-transition: right 1s;
}
.materials .frame {
    right: 400px;
    transition: right 1s;
    -moz-transition: right 1s;
    -webkit-transition: right 1s;
    -o-transition: right 1s;
}
.map .layer {
    opacity: 1;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}
.materials .map .layer {
    opacity: .3;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}

#next, #back {
    background-color: #FF3FB4;
    color: white;
    padding: 5px 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}
#back {
    left: 20px;
    right: auto;
    opacity: 1;
}
#next.active {
    opacity: 1;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}

#materials {
    padding: 20px;
    position: relative;
    width: 360px;
    min-height: 560px;
    position: absolute;
    top: 0;
    right: -400px;
    transition: right 1s;
    -moz-transition: right 1s;
    -webkit-transition: right 1s;
    -o-transition: right 1s;
}
.materials #materials{
    right: 0px;
    transition: right 1s;
    -moz-transition: right 1s;
    -webkit-transition: right 1s;
    -o-transition: right 1s;
}

/* 
	SVG Styling
*/
path {
    fill: none;
    stroke: black;
    pointer-events: none;
    stroke-width: 3;
    stroke-linejoin: round;
}

circle {
	fill: black;
	fill-opacity: 0;
}

circle:hover {
	fill: black;
	fill-opacity: 1;
	cursor: pointer;
}
circle.highlight {
    fill: #FF3FB4;
    fill-opacity: 1;
}
