/* main page styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

#header {
    position: absolute;
    background: #fff;
    padding: 10px 24px;
    width: 100%;
    height: 40px;
}

#title {
    float: left;
    font-size: 32px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    color: #669900;
}

#subtitle {
    float: left;
    font-size: 24px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding-top: 7px;
    padding-left: 8px;
    color: #999;
    width: 70%;
}

#map {
    background: #E5E0D9;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 60px;
    bottom: 0px;
}

.boxShadow {
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 4px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 4px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 4px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 4px 0;

	/* for IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#666666');
}

.boxRound {
    -moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
}