/* main page styles */
body {
    font-family: Helvetica, Arial, sans-serif;
}

.button {
    cursor: pointer;
    border: 1px solid black;
    padding: 2px;
    margin: 4px 0;
    width: 150px;
    text-align: center;
}

.maybe-place {
    color: grey;
    cursor: pointer;
}
.maybe-place:hover {
    color: black;
}

#places {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
}

.place .delete {
    display: none;
    margin-left: 15px;
    color: red;
    cursor: pointer;
}
.place:hover .delete {
    display: inline;
}

.frame {
	float: left;
	margin: 20px;
	width: 400px;
	height: 400px;
}

/* 
	SVG Styling
*/
path {
    fill: none;
    stroke: black;
    pointer-events: none;
}

circle {
	fill: black;
	fill-opacity: 0;
}

circle:hover {
	fill: black;
	fill-opacity: 1;
	cursor: pointer;
}
